<!-- <ui-carousel >
        <ui-carousel-item>
    <img style="height: 300px;" src="{{artist.imgurl}}" alt="{{artist.name}}">
        </ui-carousel-item>
</ui-carousel> -->




<div class="page-container">
    <div class='header-container'><br>

        <div id="generalinfo-container" class="section-container">
                <mat-toolbar color="accent" class="mat-toolbar-header">                    
                        <mat-toolbar-row>
                          <span>{{artist?.artistname}}</span>
                          <span class="example-spacer"></span>
                          <mat-icon class="example-icon">favorite</mat-icon>
                          <mat-icon class="example-icon">delete</mat-icon>
                        </mat-toolbar-row>
                </mat-toolbar>
            <div class='body-container' fxLayout="row" fxLayout.xs="column">

                <div id="carousel-container" class="carousel-container" fxFlexAlign.xs="center" [ngStyle.xs]="{'width.%': 80}">
                    <ui-carousel style="border-radius: 20px" [autoPlay]="false" [infinite]="true" [fade]="false" [speed]="1500" height="250px" width="100%">
                        <ui-carousel-item>
                            <img src="{{artist?.imgurl}}" alt="" draggable="false" >
                        </ui-carousel-item>
                        <ui-carousel-item>
                            <img src="{{artist?.imgurl}}" alt="" draggable="false">
                        </ui-carousel-item>
                        <ui-carousel-item>
                            <img src="{{artist?.imgurl}}" alt="" draggable="false">
                        </ui-carousel-item>
                    </ui-carousel>
                </div>
                <div id="general-container" class="section-container general-container">
                    <mat-list>


                        <mat-list-item><p>Artist name:</p> 
                            <p class='show-info-right'>Michael Jackson</p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>First name: </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Name: </mat-list-item>
                      </mat-list>

                    <div>

                    </div>

                </div>
            </div>

        </div>

        <div class='body-container' fxLayout="row" fxLayout.xs="column">

            <div id="albumsa-container" class="section-container">
                <mat-toolbar color="accent" class="mat-toolbar-header">                    
                    <mat-toolbar-row>
                      <span>Albums</span>
                      <span class="example-spacer"></span>
                    </mat-toolbar-row>
            </mat-toolbar>

                <mat-list>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip color="accent">CHIPKEN NI BETOELEN</mat-chip>
                        </mat-chip-list>

                    </mat-list-item>
                    <mat-list-item> Salt </mat-list-item>
                    <mat-list-item> Paprika </mat-list-item>
                </mat-list>
            </div>

            
            <div id="albums-container" class="section-container" style="width: 2%">

            </div>

            <div id="albums-container" class="section-container">
                <mat-toolbar color="accent" class="mat-toolbar-header">                    
                    <mat-toolbar-row>
                      <span>Achievements</span>
                      <span class="example-spacer"></span>
                    </mat-toolbar-row>
            </mat-toolbar>

                <mat-list>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip color="accent"> Nog een chipken</mat-chip>
                        </mat-chip-list>

                    </mat-list-item>
                    <mat-list-item> Salt </mat-list-item>
                    <mat-list-item> Paprika </mat-list-item>
                </mat-list>
            </div>

        </div>
    </div>