<!-- <ui-carousel >
        <ui-carousel-item>
    <img style="height: 300px;" src="{{artist.imgurl}}" alt="{{artist.name}}">
        </ui-carousel-item>
</ui-carousel> -->




<div class="page-container">
    <div class='header-container'><br>

        <div id="generalinfo-container" class="section-container">

            <div class='body-container' fxLayout="row" fxLayout.xs="column">
                <div id="carousel-container" class="carousel-container" fxFlexAlign.xs="center" [ngStyle.xs]="{'width.%': 80}" [ngStyle.lg]="{'margin-right.px': 10}">
                    <ui-carousel style="border-radius: 20px" [autoPlay]="true" [infinite]="true" [fade]="true" [speed]="4000" height="200px" width="100%">
                        <ui-carousel-item *ngFor="let a of artist.imgurl">
                            <img src="{{a}}" alt="" draggable="false" >
                        </ui-carousel-item>
                    </ui-carousel>
                </div>

                <div fxLayout="row" style="width:100%">
                        <div id="general-container" class="section-container general-container" style="width: 40%">
                                <mat-list *ngIf="artist">
                                    <mat-list-item>
                                        <p>Artist name:</p> 
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>Full name: </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>Age / Height:</mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>Genres:</mat-list-item> 
                                  </mat-list>
            
                                <div>
            
                                </div>
            
                        </div>
                            <div id="general-container" class="section-container general-container" style="width: 60%">
                                    <mat-list *ngIf="artist">
                                        <mat-list-item class="abc">
                                            {{artist.artistname}}
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item>{{artist.forname}} {{artist.name}} </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item>{{getAge()}} 50 years / {{artist.height}} cm </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item>
                                            <p *ngFor="let genre of artist.genres">
                                                <mat-chip color="accent" style="margin-right: 5px" selected="true">{{genre}}</mat-chip>
                                            </p>
                                        </mat-list-item> 
                                      </mat-list>
                            </div>
                </div>

            </div>

        </div>

        <div class='body-container' fxLayout="row" fxLayout.xs="column">

            <div id="albums-container" class="section-container" [ngStyle.xs]="{'margin-bottom.px': 20}">
                <mat-toolbar color="accent" class="mat-toolbar-header">                    
                    <mat-toolbar-row>
                      <span>Albums</span>
                      <span class="example-spacer"></span>
                    </mat-toolbar-row>
            </mat-toolbar>
            
            
            <app-view-artist-albums>
            <!-- ALBUM OVERZICHT VAN DE ARTIST -->            <!-- ALBUM OVERZICHT VAN DE ARTIST -->
            </app-view-artist-albums>
            </div>

            
            <div id="albums-container" class="section-container" style="width: 2%">

            </div>

            <div id="albums-container" class="section-container">
                <mat-toolbar color="accent" class="mat-toolbar-header">                    
                    <mat-toolbar-row>
                      <span>Achievements</span>
                      <span class="example-spacer"></span>
                    </mat-toolbar-row>
            </mat-toolbar>

                <mat-list>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip color="primary" selected="true"> Nog een chipken</mat-chip>
                        </mat-chip-list>

                    </mat-list-item>
                    <mat-list-item> Salt </mat-list-item>
                    <mat-list-item> Paprika </mat-list-item>
                </mat-list>
            </div>

        </div>
    </div>