.example-card {
  max-width: 300px;
  margin-left: 20%;
}

.matInput{
  width: 60%;
}

#card-container {
  display: flex;
  flex-flow: row wrap;
  position: center;
}

.mat-card-image {
  height: 200px;
}

.mat-form-field {
  width: 60%;
}
