<div class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-spinner>
</div>
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="searchArtistCtrl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
<form class="example-form">
  <img width="30px" src="./../../../assets/images/search.png">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Search an artist" aria-label="Number" matInput [formControl]="searchArtistCtrl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let artist of artists" [value]="artist">
          {{artist.artistname}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</form>

<div id="card-container" fxLayout="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center" fxLayout.xs="column">
  <div *ngFor="let artist of artists">
    <mat-card class="example-card" tabindex="0">
      <mat-card-header>
        <mat-card-title><b>{{artist.artistname}}</b></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{artist.imgurl}}" alt="{{artist.name}}">
      <mat-card-content>
        <p align="left">
          {{artist.shortdescription}}
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-icon-button>
            <mat-icon (click)="liked(artist)" aria-label="Heart icon" color="accent">
               <span *ngIf="artist.liked;else notFilled">favorite</span>
              <ng-template #notFilled>favorite_border</ng-template>
            </mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon aria-label="Favorite icon">star</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon aria-label="Heart icon" [routerLink]="['/artist', artist.$key]" routerLinkActive="active">forward</mat-icon>
        </button>

        
        <!-- <a routerLink="/view-artist" routerLinkActive="active">NEXT PAGE</a> -->
      </mat-card-actions>
    </mat-card>
</div>
<br>
</div>
