<form class="example-form">
  <img width="30px" src="./../../../assets/images/search.png">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Search an artist" aria-label="Number" matInput [formControl]="searchArtistCtrl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let artist of artists" [value]="artist">
          {{artist.artistname}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</form>

<div id="card-container" fxLayout="row" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center" fxLayout.xs="column">
  <div *ngFor="let artist of artists">
    <mat-card class="example-card" tabindex="0">
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title><b>{{artist.artistname}}</b></mat-card-title>
        <!-- <mat-card-subtitle>{{artist.forname}} {{artist.name}}</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="{{artist.imgurl}}" alt="{{artist.name}}">
      <mat-card-content>
        <p align="left">
          {{artist.shortdescription}}
        </p>
        <!-- <mat-chip-list>
            <mat-chip color="warning">#Rap</mat-chip>
            <mat-chip color="primary">#Klaasic</mat-chip>
            <mat-chip color="accent">#Pop</mat-chip>
        </mat-chip-list> -->
        
      </mat-card-content>
      <mat-card-actions>
        <!-- <a mat-stroked-button routerLink="/artist" routerLinkActive="active" style="margin-right:50px">Bio</a> -->
        <a mat-raised-button color="primary" [routerLink]="['/artist', artist.$key]" routerLinkActive="active">About</a>
        <!-- <a routerLink="/view-artist" routerLinkActive="active">NEXT PAGE</a> -->
      </mat-card-actions>
    </mat-card>
</div>
<br>
</div>
