#card-container {
  margin-top : 2%;
}

.example-card {
  max-width: 220px;
  margin-bottom: 30%;
  margin-left: auto;
  margin-right: auto;
}

.matInput{
  width: 60%;
}

.mat-card-image {
  width: 100%;
  height: 220px;
}

.mat-form-field {
  width: 60%;
}