<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar color="primary" role="header">
        <input routerLink="" width="50px" type="image" src="../assets/images/customlogo.png" alt="Musidex logo" style='margin-right: 20px;'/>
      <p>MUSIDEX</p>
    </mat-toolbar>
    <button mat-raised-button (click)="sidenav.toggle()">Categories</button>
    <div style="text-align:center">

      <!-- <img width="200" alt="Angular Logo" src="./assets/images/musidex-logo.png"> -->

      <router-outlet></router-outlet>

    </div>



  </mat-sidenav-content>

</mat-sidenav-container>
