<!-- <mat-list>
  
  <input routerLink="" width="50px" type="image" src="../assets/images/customlogo.png" alt="Musidex logo" />

  <mat-list-item *ngFor="let item of list">
     <h4 mat-line>{{item}}</h4> 
     <p mat-line class="demo-2"> {{item}} </p>
     <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
   <p>Waddup</p>
  <mat-divider></mat-divider>
</mat-list> -->
<h3 mat-subheader>Sort</h3>
<mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <p>
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>