<h3 mat-subheader style="text-align: center">Filter by genre</h3>
<mat-divider></mat-divider>
<mat-grid-list cols="2" row="6" rowHeight="60px">
    <mat-grid-tile
        *ngFor="let img of filterGenreIconList"
        [colspan]="1"
        [rowspan]="1"
        [style.background]='tilecolor'>
      
        <button mat-raised-button style='height: 100%;width: 100%'> 
            
            <img height="60%" src="../assets/icons/{{img}}.png">
            <p>{{img}}</p>
            
        </button>
      </mat-grid-tile>
  </mat-grid-list>

  <h3 mat-subheader style="text-align: center">Filter by year</h3>
<mat-divider></mat-divider><br>
<mat-grid-list cols="2" row="6" rowHeight="60px">
    <mat-grid-tile
        *ngFor="let img of filterYearIconList"
        [colspan]="1"
        [rowspan]="1"
        [style.background]='tilecolor'>
      
        <button mat-raised-button style='height: 100%;width: 100%'> 
            
            <img height="40%" src="../assets/icons/{{img}}.png">
            <p>{{img}}</p>
            
        </button>
      </mat-grid-tile>
  </mat-grid-list>